:root {
  --light: #fffbe9;
  --dark: #ad8b73;
  --alt: #ceab93;
  --alt2: #e3caa5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--light);
}

textarea {
  background: var(--light);
  border: 1px solid var(--alt);
  resize: none;
  color: var(--dark);
  border-radius: 2px;
}

textarea:focus {
  transition: all 0.2s ease-in-out;
  outline: 1px solid var(--dark);
}

.jumbotron {
  background-color: var(--dark);
  color: white;
  border-bottom: 50px solid var(--alt2);
}

.description {
  white-space: pre-wrap;
}

.container {
  border-left: 1px solid var(--dark);
}

.row {
  white-space: pre-wrap;
}

.col,
.col-8 {
  padding: 0;
  height: 17vh;
}

.hour {
  color: var(--dark);
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-style: none;
  border-radius: 2px;
  border: 1px solid var(--dark);
  background-color: var(--alt);
  color: white;
  margin-left: 10px;
}

.saveBtn:hover {
  background-color: var(--alt2);
  transition: all 0.2s ease-in-out;
}

.saveBtn:active {
  scale: 0.98;
}

.saveBtn i:hover {
  transition: all 0.2s ease-in-out;
  scale: 1.5;
}
